

@font-face {
	font-family: "thisfont";
	src: url("../fonts/amatic-sc/AmaticSC-Regular.ttf");
}

* {
	font-family: thisfont;
}

/*COLORS************/

.name {
	color: olivedrab;
	background-color: lightsalmon;
}

.hex {
	color: #f4c20d; /*google yellow*/
}

.hsla {
	background-color: hsla(240,50%,80%,0.7%);
}

.opacity {
	background-color: red;
	opacity: 0.7;
}


/*TEXT************/

.css {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

.linethrough {
	text-decoration: line-through;
}

.letterspacing {
	letter-spacing: 0.25em;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.alignjustify {
	text-align: justify;
}

.indent {
	text-indent: 2em;
}

.textshadow {
	font-weight: 700;
	text-shadow: 10px 5px lightgray;
}

.link a {
	color: green;
	text-decoration: none;
	font-weight: 900;
}

.visited a:visited {
	color: red;
}

.hover a:hover {
	color: darkgray;
	padding: 2em;
	background-color: papayawhip;
}

.active a:active {
	background-color: aqua;
	padding: 2em;
}

/*.focus a:focus {
	background-color: slategray;
	padding: 2em;
}*/

.focus-me:focus {
	background-color: mistyrose;
}

input[class="focus-me"] {
	width: 80%;
}



/*FONT************/

.downloadedfont {
	font-family: "thisfont";
	color: olivedrab;
	background-color: lightsalmon;
}

.opensourcefont {
	font-family: 'Roboto Condensed', Arial, sans-serif;
}

.serif {
	font-family: Georgia, serif;
	text-transform: capitalize;
}

.sansserif {
	font-family: Verdana, Arial, sans-serif;
}

.monospace {
	font-family: Courier;
	color: blue;
}

.cursive {
	font-family: "Monotype Corsiva";
}

.fantasy {
	font-family: Haettenschweiler, Impact;
}

.pixels {
	font-size: 16px;
}

.percent {
	font-size: 2%;
}

.ems {
	font-size: 2em;
}

/*BOX************/

.width {
	width: 500px;
	height: 500px;
}

.minwidth {
	min-width: 200px;
	background-color: red;
}

.maxwidth {
	max-width: 500px;
	background-color: pink;
}

.overflowhidden {
	padding-top: 0;
	overflow: hidden;
}

.minheight {
	min-height: 100px;
}

.maxheight {
	max-height: 100px;
}

.overflowscroll {
	padding-top: 0;
	overflow: scroll;
}

.borderwidth {
	border: 10px double green;
}

.borderstyle {
	/*border-style: groove;*/
	border-top: 5px dashed yellow;
	border-left: 20px groove red;
	border-right: 10px dotted blue;
	border-bottom: 5px double orange;
}

.bordercolor {
	border-color: lightgray;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
	height: 100px;
	width: 100px;
}

.none {
	display: none;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.boxshadow {
	box-shadow: 10px -20px 50px red;
	/*values: vertical, horizontal, blur and color*/
}

.roundedcorner {
	border-top-right-radius: 5px;
	border-bottom-left-radius: 25px;
	/*border-radius: 50%;*/
}


/*LIST************/

.ulisttype li {
	list-style-type: square;
	/*list-style: square inside url("anime.gif")*/
}

.olisttype li {
	list-style: hiragana;
}


/*BACKGROUND************/

.backgroundimg {
	/*background-image: url('assets/images/review1.jpeg');
	background-color: red;*/
	background: url('../images/review1.jpeg') red;
}

.repeatx {
	background: url('../images/review1.jpeg') red;
	background-repeat: repeat-x;
	/*repeat background horizontally*/
}

.repeaty {
	background: url('../images/review1.jpeg') red;
	background-repeat: repeat-y;
	/*repeat background vertically*/
}

.repeat {
	background: url('../images/review1.jpeg') red;
	background-repeat: repeat;
	/*default*/
}

.norepeat {
	background: url('../images/review1.jpeg') red;
	background-repeat: no-repeat;
}
